<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Images</title>
</head>
<body>
    <div class="form">
        <form action="/search" method="post">
            <label for="image_name">Image Name</label>
        <input style="text-align: center" type="text" name="image_name" id="image_name">
            <br><br>
            <label for="number">Image Number</label>
        <input style="text-align: center" type="number" name="number" id="number" min="1" max="2">
            <input value="search" type="submit">
        </form>
    </div>
</body>
</html>